<ion-view title="Create Room" id="page7">
    <ion-content padding="true" class="has-header">
        <ion-list id="createRoom-list4">
            <ion-item class="item-avatar  " id="createRoom-list-item14">
                <h2>Create group name</h2>
            </ion-item>
        </ion-list>
        <p id="createRoom-markdown1" style="color:#000000;">Room Size</p>
        <form id="createRoom-form4" class="list ">
            <label class="item item-input " id="createRoom-input4">
                <span class="input-label">Room size max (100)</span>
                <input type="text" placeholder="">
            </label>
            <p id="createRoom-markdown3" style="color:#000000;">Activity Start time</p>
            <label class="item item-input " id="createRoom-input6">
                <span class="input-label">Activity Start Time</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <p id="createRoom-markdown4" style="color:#000000;">Description</p>
        <form id="createRoom-form5" class="list ">
            <label class="item item-input " id="createRoom-textarea2">
                <span class="input-label">Description of activity</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <p id="createRoom-markdown5" style="color:#000000;">Add Search Tags</p>
        <form id="createRoom-form6" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>